*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
    /* outline: 1px solid black; */
} 
@font-face {
    font-family: Poppins;
    src: url(./poppins/Poppins-Medium.ttf);
}
:focus,:active{outline: none;} 
a:focus,a:active{outline: none;} 

nav,footer,header,aside{display: block;} 

:root{ 
--boss: rgb(160, 160, 160); 
--colors: rgb(210, 198, 198); 
}  

input,button,textarea{font-family:inherit;} 

input::-ms-clear{display: none;} 
button{cursor: pointer;} 
button::-moz-focus-inner {padding:0;border:0;} 
a, a:visited{text-decoration: none;} 
a:hover{text-decoration: none;} 
ul li{list-style: none;}
ol li{list-style: none;}  
img{vertical-align: top;} 

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 

html{ 
scroll-behavior: smooth; 
overflow-x: hidden;
}
body {
    overflow-x: hidden;
}
.head {
    display: flex;
    flex-direction: column;
    /* width: 1120px; */
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
.head__block1 {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #141D28;
    padding: 15px 0
}
.head__block1icon {
    display: flex;
    gap: 16px;
}
.head__bgraund1 {
    background: #141D28;
    width: 100%;
    overflow-x: hidden;
}
.head__block1text {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
}
.head__block2 {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}
.head__block2icon {
    display: flex;
    align-items: center;
    gap: 30px;
}
/* .head__block2icon.dop {
} */
.head__block2text {
    color: var(--main, #377DFF);
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
}
.head__nav {
    display: flex;
    gap: 80px;
}
.head__bgraund2 {
    width: 100%;
    background: #0C1117;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 22px 0;
    /* position: relative; */
}
.head__bgraund2.new {
    background: #54677f;
    position: fixed;
    z-index: 3;
    padding: 12px 0;
}
.head__text {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
}
.main {
}
.main__block1-bgraund {
    background-image: url(./img/Rectangle.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
}
.main__block1 {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.main__block1-text1 {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 320px;
}
.main__block1-number {
    color: rgba(255, 255, 255, 0.13);
    font-family: Poppins;
    font-size: 140px;
    font-weight: 400;
    line-height: 180px;
}
.main__block1-linia {
    width: 3px;
    height: 130px;
    background: var(--main, #377DFF);
}
.main__block1-texts {
    display: flex;
    flex-direction: column;
}
.main__block1-text2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 400;
    /* line-height: 110px; */
}
.main__block1-text3 {
    color: var(--main, #377DFF);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 400;
    line-height: 90px;
}
.main__block1-text4 {
    max-width: 450px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 31px;
}
.main__block1-buttons {
    display: flex;
    gap: 14px;
    margin-top: 59px;
    /* margin-bottom: 310px; */
    margin-bottom: 250px;
}
.main__block1-btn1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px; /* 100% */
    padding: 17px 37px;
    border-radius: 35px;
    background: var(--main, #377DFF);
}
.main__block1-btn2 {
    padding: 17px 37px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px; /* 100% */
    border-radius: 35px;
    border: 2px solid var(--main, #377DFF);
    background: inherit;
}
.main__block1-img {
    position: absolute;
    max-width: 700px;
    right: 0;
    top: 100px;
}
.main__block1-img2 {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 78%;
    right: 1px;
}
.main__block2 {
    opacity: 0;
    transition: 1s;
    transform: translateY(30px);
}
.main__block2.new {
    opacity: 1;
    transform: translateY(0);
}
.main__block2-text {
    text-align: center;
    color: #141D28;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 600;
    line-height: 46px; /* 121.053% */
    letter-spacing: 1px;
}
.main__block2-text2 {
    color: var(--main, #377DFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    line-height: 46px; /* 115% */
    letter-spacing: 1px;
}
.main__block2-block {
    display: flex;
    gap: 29px;
    max-width: 1120px;
    margin: 0 auto;
    align-items: center;
    margin-top: 87px;
    padding-bottom: 149px;
    justify-content: space-around;
}
.main__block2-cardlinia {
}
.main__block2-blimg {
    width: 156px;
    height: 26px;
    background-image: url(./img/image\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main__block2-blimg1 {
    width: 156px;
    height: 26px;
    background-image: url(./img/image\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main__block2-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.main__block2-text1 {
    color: #141D28;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px; /* 100% */
    text-transform: capitalize;
}
.main__block3-bgraund {
    width: 100%;
    background: #233142;
    overflow-x: hidden;
}
.main__block3 {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.main__block3-block1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 140px;
}
.main__block3-card {
    display: flex;
    gap: 10px;
    /* align-items: center; */
}
.main__block3-texts, .main__block3-texts1, .main__block3-texts2, .main__block3-texts3, .main__block3-texts4, .main__block3-texts5, .main__block3-texts6 {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.main__block3-card {
    position: relative;
}
.SVG {
    cursor: pointer;
    transition: 0.3s;
}
.SVG:hover {
    transform: scale(1.2);
}
.modal1 {
    transform: scale(0);
    width: 200px;
    transition: 1s;
    position: absolute;
    background: #233142;
    top: 80px;
    left: -70px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 10px;
}
.modal1-block3-text1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px; /* 115% */
    text-transform: capitalize;
    margin-bottom: 18px;
}
.modal1-block3-text2 {
    max-width: 289px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.modal1.dop {
    transform: scale(1);
}
.SVG2 {
    cursor: pointer;
    transition: 0.3s;
}
.SVG2:hover {
    transform: scale(1.2);
}
.modal2 {
    transform: scale(0);
    width: 200px;
    transition: 1s;
    position: absolute;
    background: #233142;
    top: 80px;
    left: -70px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 10px;
}
.modal2.dop {
    transform: scale(1);
}
.SVG3 {
    cursor: pointer;
    transition: 0.3s;
}
.SVG3:hover {
    transform: scale(1.2);
}
.modal3 {
    transform: scale(0);
    width: 200px;
    transition: 1s;
    position: absolute;
    background: #233142;
    top: 80px;
    left: -70px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 10px;
}
.modal3.dop {
    transform: scale(1);
}
.SVG4 {
    cursor: pointer;
    transition: 0.3s;
}
.SVG4:hover {
    transform: scale(1.2);
}
.modal4 {
    transform: scale(0);
    width: 210px;
    transition: 1s;
    position: absolute;
    background: #233142;
    top: 50px;
    left: -80px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 6px;
}
.modal4.dop {
    transform: scale(1);
}
.SVG5 {
    cursor: pointer;
    transition: 0.3s;
}
.SVG5:hover {
    transform: scale(1.2);
}
.modal5 {
    transform: scale(0);
    width: 260px;
    transition: 1s;
    position: absolute;
    background: #233142;
    top: 50px;
    left: -100px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 6px;
}
.modal5.dop {
    transform: scale(1);
}
.SVG6 {
    cursor: pointer;
    transition: 0.3s;
}
.SVG6:hover {
    transform: scale(1.2);
}
.modal6 {
    transform: scale(0);
    width: 230px;
    transition: 1s;
    position: absolute;
    background: #233142;
    top: 50px;
    left: -90px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 6px;
}
.modal6.dop {
    transform: scale(1);
}
.main__block3-text1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px; /* 115% */
    text-transform: capitalize;
}
.main__block3-text2 {
    max-width: 289px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.main__block3-text3 {
    max-width: 294px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.main__block3-text4 {
    max-width: 315px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.main__block3-text5 {
    max-width: 286px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.main__block3-text6 {
    max-width: 277px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.main__block3-text7 {
    max-width: 306px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.main__block3-block2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 140px;
}
.main__block4 {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    gap: 70px;
    padding-top: 276px;
    padding-bottom: 195px;
}
.main__block4-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* padding-top: 276px; */
    gap: 70px;
    position: relative;
    left: -1000px;
    transition: 1s;
}
.main__block4-left.new {
    left: 0;
}
.main__block4-text {
    /* width: 220px; */
    display: flex;
    gap: 28px;
    display: flex;
    align-items: center;
}
.main__block4-linia {
    width: 3px;
    height: 100px;
    background: var(--main, #377DFF);
}
.main__block4-text1 {
    color: #141D28;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 1px;
    width: 190px;
}
.main__block4-text01 {
    color: var(--main, #377DFF);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; /* 115% */
    letter-spacing: 1px;
}
.main__block4-btn {
    padding: 17px 37px;
    border: 2px solid var(--main, #377DFF);
    color: #141D28;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
.main__block4-right {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    right: -1000px;
    transition: 1.5s;
}
.main__block4-right.new {
    right: 0;
}
.main__block4-card {
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.main__block4-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__block4-text2 {
    color: #141D28;
    text-align: center;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.5px; /* 132.692% */
    letter-spacing: 1px;
}
.main__block4-text3 {
    color: #5C6F87;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.main__block4-All {
    position: relative;
}
.main__block4-icon {
    position: absolute;
    width: 288px;
    height: 50px;
    opacity: 0.9;
    align-items: center;
    justify-content: space-around;
    background: var(--main, #377DFF);
    display: flex;
    gap: 17px;
    bottom: 0;
}
.main__block5-bgraund {
    width: 100%;
    background-image: url(./img/Rectangle\ \(5\).png);
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.main__block5-img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    /* display: none; */
}
.main__block5 {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 148px;
    padding-bottom: 142px;
    position: relative;
}
.main__block5-block {
    display: flex;
    gap: 28px;
    align-items: center;
}
.main__block5-linia {
    width: 3px;
    height: 92px;
    background: var(--main, #377DFF);
}
.main__block5-text {
    color: #233142;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 115% */
    letter-spacing: 1px;
    width: 350px;
}
.main__block5-text01 {
    color: var(--main, #377DFF);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; /* 115% */
    letter-spacing: 1px;
}
.main__block5-number01 {
    color: var(--main, #377DFF);
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 90.909% */
    letter-spacing: 1px;
    margin-top: 84px;
}
.main__block5-text1 {
    color: #233142;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 1px;
    margin-top: 38px;
}
.main__block5-text2 {
    max-width: 567px;
    color: #5C6F87;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    margin-top: 28px;
}
.main__block5-number {
    color: #657991;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 88.889% */
    letter-spacing: 1px;
    margin-top: 46px;
}
.main__block6 {
    display: flex;
    width: 100%;
}
.main__block6-img {
    width: 334px;
    /* height: 334px; */
}
.main__block7 {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px 0;
}
.main__block7-title {
    display: flex;
    gap: 35px;
    margin-bottom: 72px;
}
.main__block7-linia {
    width: 3px;
    height: 54px;
    background: var(--main, #377DFF);
}
.main__block7-titletext {
    color: #141D28;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; /* 115% */
    letter-spacing: 1px;
    margin-right: 12px;
}
.main__block7-titletext1 {
    color: var(--main, #377DFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; /* 115% */
    letter-spacing: 1px;
}
.main__block7-left {
    max-width: 770px;
}
.main__block7-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main__block7-leftright {
    display: flex;
    gap: 30px;
}
.main__block7-img {
    width: 770px;
    /* position: absolute; */
}
.main__block7-text {
    color: #141D28;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 135.294% */
    letter-spacing: 1px;
    margin-top: 64px;
}
.main__block7-text2 {
    display: flex;
    gap: 49px;
    margin-top: 10px;
}
.main__block7-text3 {
    color: #5C6F87;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
    text-transform: capitalize;
}
.main__block7-text4 {
    color: #5C6F87;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
    text-transform: capitalize;
}
.main__block7-text5 {
    color: #5C6F87;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    margin-top: 20px;
}
.main__block7-text6 {
    color: #141D28;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 57px;
}
.card-body {
    background: #141D28;
    width: 300px;
    padding-top: 29px;
    padding-left: 30px;
    padding-right: 41px;
    padding-bottom: 31px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.card-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 127.778% */
    letter-spacing: 1px;
    width: 299px;
}
.card-texts {
    display: flex;
    align-items: center;
    gap: 49px;
    margin-top: 10px;
}
.card-text2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
    text-transform: capitalize;
}
.card-text3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
    text-transform: capitalize;
}
.main__block7-btn {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    padding: 3px 9px;
    background: var(--main, #377DFF);
    position: relative;
    top: 30px;
    left: 30px;
    display: none;
}
.card-img {
    /* position: relative; */
}
.main__block7-btn2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
    padding: 3px 9px;
    background: var(--main, #377DFF);
    /* position: absolute; */
    display: none;
}
.card-img2 {
    /* position: relative; */
}
.main__block7-btn2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
    padding: 3px 9px;
    background: var(--main, #377DFF);
    /* position: absolute; */
}
.main__block8 {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 96px;
}
.main__block8-title {
    color: #004A43;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
    margin-bottom: 32px;
}
.main__block8-imgtext {
    display: flex;
    gap: 112.5px;
}
.main__block8-texts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.main__block8-icontext {
    display: flex;
    align-items: center;
    gap: 16px;
}
.main__block8-text {
    color: #004A43;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.main__block8-img {
    width: 400px;
    border-radius: 12px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}
.main__block9-bgraund {
    width: 100%;
    background: #F1F6F6;
    padding: 64px 0;
}
.main__block9 {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.main__block9-cardsecond {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    gap: 31px;
    align-items: center;
}
.main__block9-card1 {
    display: flex;
    flex-direction: column;
    max-width: 492px;
}
.main__block9-texts {
    background: white;
    padding: 44px 32px;
    /* max-width: 492px; */
    display: flex;
    flex-direction: column;
    border-radius: 0 0 30px 30px;
}
.main__block9-text1 {
    color: #004A43;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}
.main__block9-text2 {
    color: #345E5A;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    margin-top: 13px;
}
.main__block9-text3 {
    color: #7D77FC;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px; /* 118.75% */
    margin-top: 8px;
}
.main__block9-card2 {
    display: flex;
    flex-direction: column;
    max-width: 492px;
}
.main__block9-img {
    border-radius: 30px 30px 0 0;
}
.foot-bgraund {
    width: 100%;
    background: #141D28;
    padding: 97px 135px;
    overflow: hidden;
}
.foot {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin-right: 230px;
    gap: 30px;
    /* border: 1px solid #ffffff; */
}
.foot__card {
    display: flex;
    flex-direction: column;
}
.foot__card-text {
    color: var(--main, #377DFF);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10.8px; /* 90% */
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 55px;
}
.foot__card-text1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    max-width: 370px;
    margin-bottom: 40px;
}
.foot-icon {
    display: flex;
    gap: 16px;
}
.foot__card2 {
    display: flex;
    flex-direction: column;
    gap: 13.5px;
}
.foot__card2-title {
    color: var(--main, #377DFF);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10.8px; /* 90% */
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 50.5px;
}
.foot__card2-block1 {
    display: flex;
    align-items: center;
}
.foot__card2-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
}
.grey {
    border: 1px solid rgb(60, 60, 60);
}
.foot__card3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.foot__card3-title {
    color: var(--main, #377DFF);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10.8px; /* 90% */
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 46px;
}
.foot__card3-block {
    display: flex;
    gap: 10px;
}
.foot__card3-texts {
    display: flex;
    flex-direction: column;
}
.foot__card3-text1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.foot__card3-text2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
}
.galka {
    position: relative;
}
.modal__card2-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
}
.svg {
    cursor: pointer;
    transition: 0.3s;
}
.svg:hover {
    transform: scale(1.3);
}
.modal01 {
    position: absolute;
    width: 200px;
    background: #233142;
    z-index: 2;
    padding: 10px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    transition: 0.5s;
    top: 40px;
    left: -700px;
}
.modal01.dop {
    left: -40px;
}
.svg2 {
    cursor: pointer;
    transition: 0.3s;
}
.svg2:hover {
    transform: scale(1.3);
}
.modal02 {
    position: absolute;
    width: 200px;
    background: #233142;
    z-index: 2;
    padding: 10px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    transition: 0.5s;
    top: 40px;
    left: -700px;
    /* top: 300px;
    left: -40px; */
}
.modal02.dop {
    /* top: 40px; */
    left: -40px;
}
.svg3 {
    cursor: pointer;
    transition: 0.3s;
}
.svg3:hover {
    transform: scale(1.3);
}
.modal03 {
    position: absolute;
    width: 200px;
    background: #233142;
    z-index: 2;
    padding: 10px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    transition: 0.5s;
    top: 40px;
    left: -700px;
}
.modal03.dop {
    left: -40px;
}
.modal01, .modal02, .modal03, .modal01.dop, .modal02.dop, .modal03.dop {
    display: none;
}
.modal001, .modal002, .modal003, .modal001.dop, .modal002.dop, .modal003.dop {
    display: none;
}
.modal1, .modal2, .modal3, .modal4, .modal5, .modal6 {
    display: none;
}
.modal1.dop, .modal2.dop, .modal3.dop, .modal4.dop, .modal5.dop, .modal6.dop {
    display: none;
}
.ico {
    position: relative;
    padding-bottom: 50px;
}
.modal0__card3-text1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.modal0__card3-text2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
}
.Svg {
    cursor: pointer;
    transition: 0.3s;
}
.Svg:hover {
    transform: scale(1.3);
}
.modal001 {
    position: absolute;
    width: 200px;
    background: #233142;
    z-index: 2;
    padding: 10px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    transition: 0.5s;
    top: 500px;
    /* top: 40px;
    left: -700px; */
}
.modal001.dop {
    left: -40px;
    top: 30px;
    transform: rotate(360deg);
}
.Svg2 {
    cursor: pointer;
    transition: 0.3s;
}
.Svg2:hover {
    transform: scale(1.3);
}
.modal002 {
    position: absolute;
    width: 200px;
    background: #233142;
    z-index: 2;
    padding: 10px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    transition: 0.5s;
    top: 500px;
    /* top: 40px;
    left: -700px; */
}
.modal002.dop {
    left: -40px;
    top: 30px;
    transform: rotate(360deg);
}
.Svg3 {
    cursor: pointer;
    transition: 0.3s;
}
.Svg3:hover {
    transform: scale(1.3);
}
.modal003 {
    position: absolute;
    width: 200px;
    background: #233142;
    z-index: 2;
    padding: 10px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    transition: 0.5s;
    top: 500px;
    /* top: 40px;
    left: -700px; */
}
.modal003.dop {
    left: -40px;
    top: 30px;
    transform: rotate(360deg);
}
.modal__text {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
}
.title-SVG {
    cursor: pointer;
    transition: 0.3s;
}
.title-SVG:hover {
    transform: scale(1.2);
}
.title-modal {
    /* transform: scale(0); */
    opacity: 0;
    width: 250px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px black;
    position: fixed;
    top: 70px;
    transition: 1s;
    color: white;
    z-index: 60;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-image: url(./img/Rectangle.png);
    background-size: cover;
    text-align: center;
}
.title-modal.dop {
    /* transform: scale(1); */
    opacity: 1;
    transform: rotate(360deg);
}
.SVG:hover, .SVG2:hover, .SVG3:hover, .SVG4:hover, .SVG5:hover, .SVG6:hover {
    cursor: auto;
    transform: scale(1);
}
.svg:hover, .svg2:hover, .svg3:hover {
    cursor: auto;
    transform: scale(1);
}
.Svg:hover, .Svg2:hover, .Svg3:hover {
    cursor: auto;
    transform: scale(1);
}
/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) {
    /* .main__block1 {
        display: flex;
        align-items: center;
        text-align: center;
    } */
    .main__block1-img {
        max-width: 450px;
        top: 350px;
    }
    .main__block1-bgraund {
        padding-left: 20px;
    }
    .main__block2 {
        padding: 0 20px;
    }
    .main__block3-bgraund {
        padding: 0 20px;
    }
    .main__block4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0;
    }
    .main__block4-left {
        display: flex;
        align-items: center;
    }
    .main__block4-icon {
        display: none;
    }
    .main__block5 {
        padding: 50px 30px;
    }
    .main__block6 {
        display: none;
    }
    .main__block7-img {
        display: none;
    }
    .main__block7-leftright {
        display: flex;
        flex-direction: column;
    }
    .main__block7-right {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: space-around;
    }
    .head__bgraund2 {
        padding-left: 3px;
        padding-right: 20px;
    }
    .head__bgraund1 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .head__block2 {
        justify-content: space-around;
        align-items: center;
    }
    .main__block9-cardsecond {
        display: flex;
        flex-direction: column;
    }
    .head__block1icon {
        padding-right: 30px;
    }
}

/* Стилі для середніх екранів (дисплей максимум 991рх) */
    @media (max-width: 991px) {
        .main__block1-bgraund {
            padding-left: 0;
            text-align: center;
        }
        .head__text {
            display: none;
        }
        .head__block2 {
            justify-content: center;
            align-items: center;
        }
        .main__block1-img {
            display: none;
        }
        .main__block1-img2 {
            display: none;
        }
        .main__block1 {
            align-items: center;
            justify-content: center;
        }
        .main__block1-text1 {
            margin-top: 200px;
        }
        .main__block1-buttons {
            margin-bottom: 200px;
        }
        .main__block3-text1, .main__block3-text2, .main__block3-text3, .main__block3-text4, .main__block3-text5, .main__block3-text6, .main__block3-text7 {
            display: none;
        }
        /* .main__block3 {
            gap: 25px;
        } */
        .main__block3-block1 {
            justify-content: center;
            gap: 100px;
            padding-top: 100px;
        }
        .main__block3-block2 {
            justify-content: center;
            gap: 100px;
            padding-bottom: 100px;
        }
        .main__block4-right {
            display: flex;
            flex-direction: column;
        }
        .main__block7-right {
            display: none;
        }
        .foot {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .modal1, .modal2, .modal3, .modal4, .modal5, .modal6 {
            display: block;
        }
        .modal1.dop, .modal2.dop, .modal3.dop, .modal4.dop, .modal5.dop, .modal6.dop {
            display: block;
        }
        .SVG:hover, .SVG2:hover, .SVG3:hover, .SVG4:hover, .SVG5:hover, .SVG6:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
}

@media (max-width: 870px) {
    .main__block8-imgtext {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__block7-left {
        padding-left: 20px;
    }
}

/* Стилі для малих екранів (дисплей максимум 767рх) */
    @media (max-width: 767px) {
        .main__block1-text2 {
            font-size: 35px;
        }
        .main__block1-text3 {
            font-size: 35px;
        }
        .main__block1-number {
            font-size: 110px;
        }
        .main__block2-block {
            display: flex;
            flex-direction: column;
        }
        .main__block2-blimg {
            display: none;
        }
        .main__block2-blimg1 {
            display: none;
        }
    }

/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
    @media (max-width: 575px) {
        .main__block1-number {
            display: none;
        }
        .main__block1-linia {
            display: none;
        }
        .main__block1-text1 {
            margin-top: 100px;
        }
        .main__block1-buttons {
            margin-bottom: 100px;
        }
        .main__block1-text4 {
            font-size: 14px;
            max-width: 360px;
        }
        /* .main__block1-text3 {
            line-height: 0;
        } */
        .main__block3-block1 {
            gap: 50px;
        }
        .main__block3-block2 {
            gap: 50px;
        }
        .main__block9-img {
            display: none;
        }
        /* .main__block9-texts {
            border-radius: 30px;
        } */
        .main__block9-texts {
            max-width: 300px;
            margin: 0 auto;
        }
        .foot__card2-text {
            display: none;
        }
        .grey {
            display: none;
        }
        .foot__card3-text1, .foot__card3-text2 {
            display: none;
        }
        .foot__card3 {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
        .galka {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 30px;
        }
        .ico {
            display: flex;
            align-items: center;
            gap: 30px;
        }
        .foot__card2-title {
            margin-bottom: 25px;
        }
        .foot__card3-title {
            margin-bottom: 25px;
        }
        .modal01, .modal02, .modal03, .modal01.dop, .modal02.dop, .modal03.dop {
            display: block;
        }
        .modal001, .modal002, .modal003, .modal001.dop, .modal002.dop, .modal003.dop {
            display: block;
        }
        .svg:hover, .svg2:hover, .svg3:hover {
            transform: scale(1.3);
            cursor: pointer;
        }
        .Svg:hover, .Svg2:hover, .Svg3:hover {
            transform: scale(1.3);
            cursor: pointer;
        }
    }

@media (max-width: 440px) {
    .main__block8-img {
        max-width: 250px;
    }
    .main__block8-text {
        font-size: 15px;
    }
    .main__block9-texts {
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
        /* margin-right: 100px; */
    }
}

@media (max-width: 410px) {
    .main__block1-text4 {
        font-size: 14px;
        max-width: 200px;
    }
    .main__block1-text2 {
        font-size: 30px;
    }
    .main__block1-text3 {
        font-size: 30px;
    }
    .main__block3-block1 {
        gap: 25px;
    }
    .main__block3-block2 {
        gap: 25px;
    }
    /* .main__block5-text2 {
        text-align: center;
    } */
}